.container-align-content-flex-start{
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
    height: 500px;
    align-content: flex-start;
}

.container-align-content-flex-end{
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
    height: 500px;
    align-content: flex-end;
}

.container-align-content-center{
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
    height: 500px;
    align-content: center;
}

.container-align-content-stretch{
    display: flex;
    border: 1px solid black;
    height: 500px;
    align-content: stretch;
}

.container-align-content-space-between{
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
    height: 500px;
    align-content: space-between;
}

.container-align-content-space-around{
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
    height: 500px;
    align-content: space-around;
}

.height-auto{
    height: auto;
}