.container-flow-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid black;
}

.container-flow-column-nowrap{
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
    border: 1px solid black;
}

.container-flow-row-wrap{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}

.container-flow-column-wrap{
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    border: 1px solid black;
}
