.container-jutify-content-flex-start{
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
}

.container-jutify-content-flex-end{
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}

.container-jutify-content-center{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.container-jutify-content-space-between{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.container-jutify-content-space-around{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.container-jutify-content-space-evenly{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}